header {
    text-align: center; /* Center align the content */
}

header img {
    display: block; /* Make the image a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}
.center-logo {
    display: block;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}
